/*NORMALIZE*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background: aquamarine;
}

.wrapper {
    height: auto;
    width: auto;
}



.menu {
    background: rgb(23, 87, 2);
    width: 100%;
    height: 101px;
    line-height: 66px;
}

.m-left {
    float: left;
}

.m-right {
    float: right;
    font-size: 22px;
}

.m-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 100px;
    padding: 0;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
}



/*ACTIVITES*/

.activités {
    text-align: center;
    padding-top: 30px;
}

.activités_title {
    font-size: 70px;
    text-transform: uppercase;
    color: black;
    display: inline;
}




.activité {
    width: 500px;
    height: 900px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}


.w3-tangerine {
  font-family: 'Tangerine', serif;
}


p.solid {border-style: solid;}

.tarif {
    text-align: center;
    padding-top: 30px;
}
.tarif_title {
    font-size: 70px;
    text-transform: uppercase;
    color: black;
    display: inline;
}

/*BUNGALOW*/

.bungalows {
    text-align: center;
    padding-top: 30px;
}

.bungalow_title {
    font-size: 70px;
    text-transform: uppercase;
    color: black;
    display: inline;
}

.bungalow_content {
    padding: 50px;
    display: row;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(10, 10, 10);
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 6px solid #ddd;
  padding: 14px;
}

#customers tr:nth-child(even){background-color: #ddd;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #04AA6D;
  color: #ddd;
}




footer {
    background: rgba(0, 0, 0, 0.2);
}

.contact {
    text-align: center;
    padding-top: 30px;
}

.contact_title {
    font-size: 70px;
    text-transform: uppercase;
    color: black;
    display: inline;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.copyright {
    background: gray;
    text-align: center;
    font-size: 20px;
}
